
<h1 style="color:white;font-size:90px;">Validaciones (Signup)<h1>
  <div class="top-nav">
    <ul class="fixed">
      <li><a href="/"><img id="logo" src="logo.png" width="140" height="43 ">
        <li><a href="/signup">Registrate</a></li>
        <li><a href="/login">Ingresar</a></li>
        <li><a href="/logout">Salir</a></li>
      </ul>
    </div>
